{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <table class="table table-striped table-bordered border-dark table-sm" style="background: #90afc4">
            <thead style="background: #336b86">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Адрес</th>
                <th scope="col">Контакты</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for fitness_center in fitness_centers %}
                <tr>
                    <th scope="row">{{ fitness_center.id }}</th>
                    <td>{{ fitness_center.name }}</td>
                    <td>{{ fitness_center.address }}</td>
                    <td>{{ fitness_center.contacts }}</td>
                    <td>
                        <div class="container text-center">
                            <div class="btn-group" role="group">
                                <a href="/fitness_center/{{ fitness_center.id }}" class="btn btn-primary btn-sm">
                                    <span><i class="fas fa-info"></i></span>
                                    <span>Подробнее</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}