{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Адрес</th>
                <th scope="col">Контакты</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for fitness_center in fitness_centers %}
                <tr>
                    <th scope="row">{{ fitness_center.id }}</th>
                    <td>{{ fitness_center.name }}</td>
                    <td>{{ fitness_center.address }}</td>
                    <td>{{ fitness_center.contacts }}</td>
                    <td>
                        <div class="field has-addons">
                            <div class="control">
                                <a href="/fitness_center/{{ fitness_center.id }}" class="button is-link is-small">
                                    <span class="icon is-small"><i class="fas fa-info"></i></span>
                                    <span>Подробнее</span>
                                </a>
                            </div>
                            <div class="control">
                                <a href="/fitness_center/{{ fitness_center.id }}/trainers"
                                   class="button is-primary is-small">
                                    <span class="icon is-small"><i class="fas fa-users"></i></span>
                                    <span>Тренера</span>
                                </a>
                            </div>
                            <div class="control">
                                <a href="/fitness_center/{{ fitness_center.id }}/services"
                                   class="button is-info is-small">
                                    <span class="icon is-small"><i class="fas fa-list"></i></span>
                                    <span>Сервисы</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}