{% extends 'base.html' %}

{% block body %}
    <form method="post" action="/login">
    <div class="container" style="width: 50%">
        <div class="input-group mb-3">
            <span class="input-group-text" id="username"><i class="fas fa-user"></i></span>
            <input type="text" class="form-control" name="username" placeholder="Имя пользователя" aria-label="Имя пользователя"
                   aria-describedby="username">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="password"><i class="fas fa-key"></i></span>
            <input type="password" class="form-control" name="password" placeholder="Пароль" aria-label="Пароль"
                   aria-describedby="password">
        </div>
        <button type="submit" class="btn btn-primary w-100">Вход</button>
    </div>
    </form>
{% endblock %}