{% extends "base.html" %}
{% block body %}
    <div class="container">
        {% if rating %}
            {% for item in rating %}
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">Отзыв #{{ item.review_id }}</p>
                    </div>
                    <div class="card-content">
                        <div class="control">
                            <p>От кого: {{ item.user_name }}</p>
                            <p>Отзыв: {{ item.text }}</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="card-footer-item">Оценка: {{ item.points }}</p>
                        <p class="card-footer-item">Тренер: {{ item.trainer_name }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="box mt-5">
        <form action="/fitness_center/{{ fitness_center_id }}/trainers/{{ trainer_id }}/rating" method="post">
            <div class="field">
                <div class="control has-icons-left">
                    <span class="select">
                        <select name="points" id="points">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </span>
                    <span class="icon is-small is-left">
                        <i class="fas fa-star"></i>
                    </span>

                </div>
            </div>
            <div class="field">
                <label for="name" class="label">Ваше имя:</label>
                <div class="control has-icons-left">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                <input type="text" class="input" name="name" id="name" placeholder="Ваше имя">
                </div>
            </div>
            <div class="field">
                <label for="text" class="form-label">Комментарий:</label>
                <div class="control has-icons-right">
                    <span class="icon is-small is-right">
                        <i class="fas fa-comment"></i>
                    </span>
                <textarea class="textarea" name="text" id="text" rows="3" placeholder="Комментарии"></textarea>
                </div>
            </div>
            <div class="field">
                <button type="submit" class="button is-link is-small">
                    <span class="icon"><i class="fas fa-paper-plane"></i></span>
                    <span>Отправить</span>
                </button>
            </div>
        </form>
    </div>
{% endblock %}