{% extends "base.html" %}
{% block body %}
    <div class="box">
        <form action="/register" method="post">
            <div class="container">
            <div class="field">
                <label for="username" class="label">Имя пользователя:</label>
                <div class="control has-icons-left">
                    <input type="text" class="input" id="username" name="username"
                           placeholder="Логин">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                        </span>
                </div>
            </div>
            <div class="field">
                <label for="password" class="label">Пароль:</label>
                <div class="control has-icons-left">
                    <input type="password" class="input" id="password" name="password"
                           placeholder="Пароль">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                        </span>
                </div>
            </div>
            <div class="field">
                <label for="birthday" class="label">Дата рождения:</label>
                <div class="control has-icons-left">
                    <input type="date" class="input" id="birthday" name="birthday">
                    <span class="icon is-small is-left">
                        <i class="fas fa-calendar"></i>
                        </span>
                </div>
            </div>
            <div class="field">
                <label for="phone" class="label">Телефон:</label>
                <div class="control has-icons-left">
                    <input type="text" class="input" id="phone" name="phone"
                           placeholder="+38(099)123-45-67">
                    <span class="icon is-small is-left">
                        <i class="fas fa-phone"></i>
                        </span>
                </div>
            </div>
            <div class="field">
                <div class="control has-text-centered">
                    <button type="submit" class="button is-primary mt-3">
                        <span class="icon"><i class="fas fa-user-plus"></i></span>
                        <span>Зарегистрироваться</span>
                    </button>
                </div>
            </div>
    </div>
    </form>
    </div>
{% endblock %}