{% extends "base.html" %}
{% block body %}
    <div class="container" style="width: 40%">
        <form action="/register" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text" id="username"><i class="fas fa-user"></i></span>
                <input type="text" class="form-control" name="username" placeholder="Имя пользователя"
                       aria-label="Имя пользователя"
                       aria-describedby="username">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="password"><i class="fas fa-key"></i></span>
                <input type="password" class="form-control" name="password" placeholder="Пароль" aria-label="Пароль"
                       aria-describedby="password">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="birthday"><i class="fas fa-calendar"></i></span>
                <input type="date" class="form-control" name="birthday" placeholder="Дата рождения" aria-label="Дата рождения"
                       aria-describedby="birthday">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="phone"><i class="fas fa-phone"></i></span>
                <input type="text" class="form-control" name="phone" placeholder="+38 (XXX) XXX - XX - XX" aria-label="Телефон"
                       aria-describedby="phone">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="email"><i class="fas fa-envelope"></i></span>
                <input type="email" class="form-control" name="email" placeholder="Электронная почта"
                       aria-label="Электронная почта" aria-describedby="email">
            </div>
            <button type="submit" class="btn btn-primary w-100">Зарегистрироваться</button>
        </form>
    </div>
{% endblock %}