{% extends "base.html" %}

{% block body %}
<div class="container">
        <div class="row">
            <table class="table table-striped table-bordered border-dark table-sm" style="background: #90afc4">
            <thead style="background: #336b86">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Дата</th>
                <th scope="col">Время</th>
                <th scope="col">Тренер</th>
                <th scope="col">Фитнес центр</th>
                <th scope="col">Длительность</th>
                <th scope="col">Название</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                    <th scope="row">{{ reservation.id }}</th>
                    <td>{{ reservation.date }}</td>
                    <td>{{ reservation.time }}</td>
                    <td>{{ reservation.trainer.name }}</td>
                    <td>{{ reservation.trainer.fitness_center.name }}</td>
                    <td>{{ reservation.service.duration }} мин</td>
                    <td>{{ reservation.service.name }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="/user/reservations/{{ reservation.id }}">
                            <span class="icon"><i class="fas fa-pen"></i></span>
                            <span>Редактировать</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}