{% extends "base.html" %}

{% block body %}
<div class="container">
        <div class="row">
            <table class="table table-striped table-bordered border-dark table-sm">
            <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Дата</th>
                <th scope="col">Время</th>
                <th scope="col">Длительность</th>
                <th scope="col">Название</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                    <th scope="row">{{ reservation.reservation_id }}</th>
                    <td>{{ reservation.date }}</td>
                    <td>{{ reservation.time }}</td>
                    <td>{{ reservation.duration * 60}} мин</td>
                    <td>{{ reservation.service_name }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="/user/reservations/{{ reservation.reservation_id }}">
                            <span class="icon"><i class="fas fa-pen"></i></span>
                            <span>Редактировать</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}