{% extends "base.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="container mb-5 text-center">
                <h3>{{ services[0].fitness_center_name }}</h3>
            </div>
        </div>
        <div class="row">
            {% for service in services %}
                <div class="col-6">
                    <div class="card mb-3 border-dark">
                        <div class="card-header text-light" style="background: #336b86">
                            <h5 class="card-title text-center">{{ service.name }}</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <p class="card-text">Описание: {{ service.description }}</p>
                                <p class="card-text">Цена: {{ service.price }} грн</p>
                                <p class="card-text">Длительность: {{ service.duration }} мин</p>
                            </div>
                            <hr>
                            <div class="row">
                                <h5 class="card-title text-center mb-3">Тренера</h5>
                                <div class="container text-center">
                                    {% for trainer in trainers %}
                                        {% for trainer_service in trainer.services %}
                                            {% if trainer_service.service_id == service.id %}
                                                    <a class="btn btn-outline-dark w-75 mb-3"
                                                       href="/fitness_center/{{ trainer.fitness_center_id }}/trainers/{{ trainer.id }}/{{ trainer_service.service_id }}">{{ trainer.name }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}