{% extends "base.html" %}

{% block body %}
    <div class="container">
        <div class="row mb-5">
            <div class="col-6">
                <div class="card border-dark">
                    <div class="card-header text-light" style="background: #336b86">
                        <h5 class="card-title text-center">Информация о тренере</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center mb-3">{{ trainer.fitness_center_name }}</h5>
                        <div class="row">
                            <div class="col-6">
                                <p class="card-text">Имя: {{ trainer.trainer_name }}</p>
                                <p class="card-text">Возраст: {{ trainer.age }}</p>
                                <p class="card-text">Пол: {{ trainer.gender }}</p>
                            </div>
                            <div class="col-6">
                                <form method="post">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                        <select class="form-select" name="date">
                                            {% for item in trainer_schedule %}
                                                <option value="{{ item.date }}">{{ item.date }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-outline-dark w-100 mt-3">
                                        <span class="icon"><i class="fas fa-list-alt"></i></span>
                                        Показать расписание
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <form action="/user/reservations" method="post">
                    <input type="hidden" name="trainer_id" value="{{ trainer.id }}">
                    <input type="hidden" name="service_id" value="{{ service_id }}">
                    <input type="hidden" name="date" value="{{ date }}">
                    <div class="card border-dark">
                        <div class="card-header text-light" style="background: #336b86">
                            <h5 class="card-title text-center">Доступное время</h5>
                        </div>
                        <div class="card-body">
                            {% if available_time %}
                                <div class="table-responsive">
                                    <h5 class="card-title text-center mb-3">Выберите доступное время</h5>
                                    <p class="card-text text-center">Дата: {{ date }}</p>
                                    <table class="table table-striped table-bordered border-dark">
                                        <thead class="text-light" style="background: #336b86">

                                        {% for item in available_time %}
                                            <td>{{ item.time().strftime("%H:%M") }}</td>
                                        {% endfor %}
                                        </thead>
                                        <tbody>
                                        <tr>
                                            {% for item in available_time %}
                                                <td class="text-center"><input class="form-check-input" name="time"
                                                                               type="checkbox" id="checkboxNoLabel"
                                                                               value="{{ item.time().strftime('%H:%M') }}"
                                                                               aria-label="..."></td>
                                            {% endfor %}
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-outline-dark w-75 mt-3">
                                        <span class="icon"><i class="fas fa-check   "></i></span>
                                        Забронировать
                                    </button>
                                </div>
                            {% else %}
                                <p class="card-text">Нет доступного времени</p>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}